html {
    scroll-behavior: smooth;
  }
.body {
    height: 100%;
    width:100;
}
h2.Work{
    color:Black;
    text-align: center;
    font-size: 2.5vw;
}
h2.HackathonName{
    color:black;
    font-size: 3vw; 
    text-align: center;
}
h3.HackathonName{
    color:black;
    font-size: 2.4vw;
    text-align: center;
}
/* .hackathonformat{
    box-shadow: 0px 0px 4px 0 rgba(255, 255, 255, 1);
    transition: box-shadow 500ms;
    border-radius: 5%;
    padding-bottom: 0.5vw;
} */


#experience{
    background-color: rgba(256,256,256,0.7);
}
body{
    width: 100%;
    margin: 0;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    opacity: 1;
  
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; 
    
}

#intro{
    font-size: 3.5vw;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 0vw;
    margin-top: 1.5vw;
    animation:opac 4s}@keyframes opac{from{opacity:0} to{opacity:1};
    
}
.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .NavBarItem {
    float: left;
    height: relative;
  }
  
  .NavBarItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7vw 1vw 0.7vw 1vw;
    text-decoration: none;
    font-size: 1vw;
    transition: 0.3s;
    display: inline-block;

  }
  
  .NavBarItem a:hover {
    background-color: darkblue;
  }
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}


.blurredbox{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height:100%;
    padding-top: 1.5vw;
}
#summarybox{
    margin:auto;
    position: relative;
    color: white;
    padding-bottom: 3vw;
    padding-top: 1vw;
    font-family: "Arial";
    text-align: center;
    width: 80%;
    font-size: 1.5vw;
  
}
li.WorkExperience{
    font-size: 1.1vw;
    padding: 0.4%;
}

.flex-item{
    text-align: center;
    box-shadow: 0px 0px 4px 0 rgba(255, 255, 255, 0.3);
    transition: box-shadow 500ms;
    border-radius: 5%;
    
}
.flex-item:hover {
  box-shadow: 0 0px 4px 0 rgba(255, 255, 255, 1);
}

.fillerbox{
    /* height: 1000px; */
    width: 100%;
    
}
.workbox{
    display: flex;
    align-items: center;
}
@media (max-width: 320px) {
    .flexcontainer {
      display: block;
    }
  }

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 30vw;
    /* position: relative; */
    /* width: 50%; */


 }
   
    
.swiper-slide:hover .overlay {
  bottom: 0;
   height : 100%;

}
  /* .hobbyitem:hover {
    background-color: yellow;
  } */

  .CenteredHover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


 .swiper-slide .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.swiper-slide .overlay .hobbytext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.social-container {
  padding-top: 1vw;
  text-align: center;
  
}
a.social {
  margin: 0 1rem;
  transition: transform 200ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-3px);
}
a.linkedin {
  color: #2867B2;
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: white;
}

a.instagram {
  color: pink;
}

.hover-item {
  transition: 0.3s;
  text-align: center;
  margin-right: 2vw;
  margin-left: 2vw;
}
.hover-item:hover {
  transform: translate(0, -10px);
}
#projects{
  background-color: rgba(256,256,256,0.7);
}
#hobbies{
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin-top: 0px;
  padding-top: 0px;

}
h1.hobbies{
  margin-top:0px;
}
#aboutme{
  color: white;
}


img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2vw;
    width: 2vw;

}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.icon{
  font-size: 1vw;
  display: inline-block;
}