html {
    scroll-behavior: smooth;
  }
.body {
    height: 100%;
    width:100;
}
h2.Work{
    padding-top: 2%;
    color:Black;
    text-align: center;
    font-size: 2.5vw;
}
h2.HackathonName{
    color:black;
    font-size: 3vw; 
}
h3.HackathonName{
    color:black;
    font-size: 2vw;
}
.HackathonFormat{
    display: grid;
    grid-template-columns: auto auto auto;
}
#experience{
    background-color: rgba(256,256,256,0.7);
}
body{
    width: 100%;
    margin: 0;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);
    opacity: 1;
  
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; 
    
}

#aboutme{
    font-size: 5vw;
    text-align: center;
    color: white;
    position: relative;
    animation:opac 4s}@keyframes opac{from{opacity:0} to{opacity:1};
    
}
.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 20%
  }
  
  .NavBarItem {
    float: left;
  }
  
  .NavBarItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1vw;
  }
  
  .NavBarItem a:hover {
    background-color: darkblue;
  }
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

.blurredbox::before{
    /* background-image: url('http://bit.ly/2gPLxZ4');
    filter: blur(1.5rem);
    margin: auto;
    width: 100%;    
    height: 800px;
    z-index: -1;
    display: block;
    position: absolute;
    content: ' '; */
}
.blurredbox{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height:100%;
    padding-top: 100px;
}
.HackathonName{
    font-size: 2.2vw;
    color: black;   
}
#summarybox{
    margin:auto;
    position: relative;
    color: white;
    padding: 10px;
    font-family: "Arial";
    text-align: center;
    width: 80%;
    font-size: 2vw;
}

li.WorkExperience{
    font-size: 1.2vw;
    color: black;
    padding: 0.5%;
}
.flex-container {
    display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-item{
    width: 40%;
    margin: 10px;
    text-align: center;
    line-height: 200%;
}
.fillerbox{
    /* height: 1000px; */
    width: 100%;
    
}
.workbox{
    display: flex;
    align-items: center;
}
@media (max-width: 320px) {
    .flexcontainer {
      display: block;
    }
  }

  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    /* position: relative; */
    /* width: 50%; */


 }
   
    
.swiper-slide:hover .overlay {
  bottom: 0;
   height : 100%;

}
  /* .hobbyitem:hover {
    background-color: yellow;
  } */

  .CenteredHover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


 .swiper-slide .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.swiper-slide .overlay .hobbytext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}