html {
  scroll-behavior: smooth;
}
.body {
  height: 100%;
  width: 100;
}
h2.Work {
  color: Black;
  text-align: center;
  font-size: 2.5vw;
}
/* .hackathonformat{
    box-shadow: 0px 0px 4px 0 rgba(255, 255, 255, 1);
    transition: box-shadow 500ms;
    border-radius: 5%;
    padding-bottom: 0.5vw;
} */

body {
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  opacity: 1;

  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#intro {
  font-size: 7vh;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 0vw;
  margin-top: 1.5vw;
  animation: opac 4s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f0f0f;
}

.NavBarItem {
  float: left;
  height: relative;
}

.NavBarItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.7vh 1.5vh 1vh 1.5vh;
  text-decoration: none;
  font-size: 2vh;
  transition: 0.3s;
  display: inline-block;
}

.NavBarItem a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.w3-animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blurredbox {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  padding-top: 5vw;
  padding-bottom: 4vw;
}
#summarybox {
  margin: auto;
  position: relative;
  color: white;
  padding-bottom: 2vw;
  padding-top: 1vw;
  font-family: "Arial";
  text-align: center;
  width: 80%;
  font-size: 3vh;
}
@media (max-width: 600px) {
  #summarybox {
    font-size: 5vw;
  }
  #intro {
    font-size: 5vh;
  }
}
li.WorkExperience {
  font-size: 1.1vw;
  padding: 0.4%;
}

.flex-item {
  text-align: center;
  box-shadow: 0px 0px 4px 0 rgba(255, 255, 255, 0.3);
  transition: box-shadow 500ms;
  border-radius: 5%;
}
.flex-item:hover {
  box-shadow: 0 0px 4px 0 rgba(255, 255, 255, 1);
}

.fillerbox {
  /* height: 1000px; */
  width: 100%;
}
.workbox {
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 30vw;
  /* position: relative; */
  /* width: 50%; */
}

.swiper-slide:hover .overlay {
  bottom: 0;
  height: 100%;
}
/* .hobbyitem:hover {
    background-color: yellow;
  } */

.CenteredHover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.swiper-slide .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.swiper-slide .overlay .hobbytext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.social-container {
  padding-top: 1vw;
  text-align: center;
}
a.social {
  margin: 0 1rem;
  transition: transform 200ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-3px);
}
a.linkedin {
  color: #2867b2;
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: white;
}

a.instagram {
  color: pink;
}

.hover-item {
  transition: 0.3s;
  text-align: center;
  margin-right: 2vw;
  margin-left: 2vw;
}
.hover-item:hover {
  transform: translate(0, -10px);
}
#projects {
  background-color: rgba(256, 256, 256, 0.7);
}
#experience {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}
h1.experience {
  margin-top: 0px;
}
#aboutme {
  color: white;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4vh;
  width: 4vh;
  margin-top: 2vh;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.icon {
  font-size: 2vh;
  display: inline-block;
}

.flexpara {
  padding: 1vw;
}
.flex-item > h1 {
  font-size: 2.2vw;
}
@media (min-width: 200px) {
  .flexpara {
    font-size: 5vw;
  }
  .flex-item > h1 {
    font-size: 5.5vw;
  }
  #hobbyhead {
    font-size: 8vw;
    padding-top: 4vw;
  }
  .HackathonName {
    font-size: 6vw;
  }
  .hover-item {
    width: 14%;
    height: 14%;
  }
  .hackathonp {
    font-size: 4vw;
    padding-left: 10vw;
  }
  .swiper-container {
    padding-bottom: 31vw;
  }
  #footer {
    font-size: 2vw;
  }
}

#swiperbox {
  padding-top: 100vw;
}
@media (min-width: 600px) {
  .flexpara {
    font-size: 3vw;
  }
  .flex-item > h1 {
    font-size: 3.5vw;
  }
  .hackathonp {
    font-size: 4vw;
  }
}

@media (min-width: 800px) {
  .flexpara {
    font-size: 2.5vw;
  }
  .flex-item > h1 {
    font-size: 2.75vw;
  }
  .HackathonName {
    font-size: 3vw;
  }
  #hobbyhead {
    font-size: 4vw;
    padding-top: 2vw;
  }
  .hover-item {
    width: 25%;
    height: 25%;
  }
  .hackathonp {
    font-size: 1.5vw;
  }
  .swiper-container {
    padding-bottom: 2vw;
  }
  #footer {
    font-size: 0.7vw;
  }
}
@media (min-width: 430px) {
    .NavBarItem > a {
      font-size: 3vh;
  }
}
#footer {
  color: white;
  text-align: center;
  font-weight: normal;
  padding-top: 1vw;
}
.swiper-container {
  width: 100%;
  padding-top: 2vw;
}
.hackathonp {
  color: Black;
  padding: 0;
  position: relative;
  text-align: center;
  margin-left: 3vw;
  margin-right: 3vw;
}
#hobbyhead {
  text-align: center;
}

.HackathonName {
  text-align: center;
  color: black;
}
@media (min-width: 1000px) {
  .flexpara {
    font-size: 1.2vw;
  }
  .flex-item > h1 {
    font-size: 1.4vw;
  }
}


#exp {
  margin-top: 0px;
  text-align: center;
  padding-top: 2vw;
}

@media (min-width: 600px) {
  #exp {
    font-size: 4vw;
  }
}

@media (min-width: 800px) {
  #exp {
    font-size: 3vw;
  }
  #avatar {
    padding-top: 2vh;
  }
}

@media (min-width: 1000px) {
  #exp {
    font-size: 2.4vw;
  }
}

#avatar{
  padding-top: 0.5vh;
}